<div class="container">
    <div class="d-flex justify-content-between">
        <h3>Personal Details</h3>
        <button class="btn btn-outline-primary" (click)="goToForm()"><i
            class="fa-solid fa-plus "></i> Add More</button>

    </div>
    <table class="user-table text-center table my-5 table-striped table-hover">
        <thead>
            <tr class="bg-dark">
                <th>S.N</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Address</th>
                <th>Gender</th>
                <th>Age</th>
                <th>Action</th>
           </tr>
        </thead>
        <tbody *ngFor="let userData of responsedata; let i = index">
            <tr>
                <td>{{ i + 1 }}</td>
                <td>{{ userData.fullname }}</td>
                <td>{{ userData.email }}</td>
                <td>{{ userData.address }}</td>
                <td>{{ userData.gender}}</td>
                <td>{{ userData.age }}</td>   
                <td>
                    <div>
                        <button class="btn btn-success mx-2"><i class="fa fa-pen-to-square" (click)="onEdit(userData.id)"></i></button>
                        <button class="btn btn-danger"><i class="fa-regular fa-trash-can" (click)="onDelete(i)"></i></button>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="8">
                    <div class="d-flex justify-content-start">
                        <h5>family Details</h5>

                    </div>
                    <table class="nested-table table my-3">
                        <thead>
                            <tr class="bg-dark">
                                <th>S.N</th>
                                <th>Full Name</th>
                                <th>Email</th>
                                <th>Address</th>
                                <th>Gender</th>
                                <th>Age</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let familyMember of userData.familyDetails; let j = index">
                                <td>{{ (j + 1) }}</td>
                                <td>{{ familyMember.fullname }}</td>
                                <td>{{ familyMember.email }}</td>
                                <td>{{ familyMember.address }}</td>
                                <td>{{ familyMember.gender }}</td>
                                <td>{{ familyMember.age }}</td>

                              
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>