.header {
    width: calc(100% - 280px);
    height: 60px;
    float: right;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 3;
    background-color: #d6c7df;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  

  
  
  